body a:hover {
    color: red;
}
header {
    height: 80px;
    background-color: black;
}

.left_side_header img{
    height: 80px;
}

.left_side_header a {
    text-decoration: none;
    color: white;
    margin-left: 0.5rem;
}

.right_side_header img{
    height: 30px;
}

nav .w_470px {
    width: 470px;
}

.right_side_header a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: white;
}

/* start main */

main {
    background-color: black;
}

/* insieme per il nostro pianeta */

.gray {
    color: gray;
}

.border_1 {
    border: 1px solid white;
    border-radius: 0;
}

#border_1 {
    border: 1px solid gray;
    border-radius: 0;
}

/* film section */


.container_img img {
    width: 100%;
    height: 100%;
}

.film_section img:hover{
    filter: contrast(0.5);
    cursor: pointer;
}

.riga-film{
    height: 150px;
}
